<div class="form-container">
  <h2>
    <span class="id" [attr.data-id]="[`${task$?.id}`]"></span>
  </h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="taskName">Название задачи</label>
      <input
        type="text"
        id="taskName"
        class="form-control"
        formControlName="title"
        placeholder="Введите название задачи"
        [class.is-invalid]="title?.invalid && title?.touched">
      @if (title?.invalid && title?.touched){
        <div class="validation-error">
          @if (title?.errors?.['required']){
            <small>Название задачи обязательно</small>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="taskStatus">Статус</label>
      <select
        id="taskStatus"
        class="form-control"
        formControlName="status"
        [class.is-invalid]="status?.invalid && status?.touched">
        @for (status of statuses; track status.value) {
          <option [ngValue]="status.value">
            {{ status.label }}
          </option>
        }
      </select>
      @if (status?.invalid && status?.touched){
        <div class="validation-error">
          @if (status?.errors?.['required']){
            <small>Статус обязателен</small>
          }
        </div>
      }

    </div>

    <div class="button-group">
      <button
        type="submit"
        class="btn btn-primary">
        Сохранить
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="onCancel()">
        Отмена
      </button>
    </div>
  </form>
</div>




