<div class="login-container">


  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="login-title">Вход в систему</h2>

    <div class="form-group">
      <label for="username">Логин</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        formControlName="username"
        placeholder="Введите логин"
        [class.is-invalid]="username?.invalid && username?.touched">
      <div *ngIf="username?.invalid && username?.touched" class="validation-error">
        <small *ngIf="username?.errors?.['required']">Логин обязателен</small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        formControlName="password"
        placeholder="Введите пароль"
        [class.is-invalid]="password?.invalid && password?.touched">
      <div *ngIf="password?.invalid && password?.touched" class="validation-error">
        <small *ngIf="password?.errors?.['required']">Пароль обязателен</small>
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-error">
      {{ errorMessage }}
      <button type="button" class="alert-close" (click)="errorMessage = ''">×</button>
    </div>
    <button type="submit" class="login-btn" >
      Войти
    </button>
    <button class="login-btn" [routerLink]="['/registration']">
      Регистрация
    </button>
  </form>
</div>
